@import "src/assets/main";

.Task{
    padding: 10px;
    background-color: $softGrayColor;
    border-radius: 12px;

    .text{
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 8px;
    }
    .actions{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .performerName{
            font-size: 12px;
            font-weight: 600;
            border-radius: 8px;
            color: $etyMainColor;

            &.self{
                padding: 2px 8px;
                font-weight: 500;
                background-color: $etyMainColor;
                color: #FFF;
            }
        }

        .status{
            display: flex;
            align-items: center;

            .statusSelf{
                cursor: pointer;
            }

            .statusSelf,
            .statusOur{
                display: flex;
                align-items: center;
                grid-gap: 8px;

                font-size: 12px;
                font-weight: 500;
                color: $grayColor;

                background-color: transparent;

                transition: background-color 0.3s;

                .done{
                    color: $etyMainColor;
                }
            }
        }
    }
}